<footer class="footer bg-gradient-primary text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Soft UI Design System by &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" class="text-white" target="_blank">Creative Tim</a>
            - Coded by <a target="_blank" href="https://appseed.us" class="text-white" target="_blank">AppSeed</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
