<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Repository &copy; <a target="_blank" href="https://bit.ly/3fKQZaL" class="text-white" target="_blank">dpiuro</a>
            <a target="_blank" href="https://github.com/dpiuro/play-find" class="text-white" target="_blank">Play&Find</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  body {
    background-color: #e9e9f0;  /* тут можна шрифт */
  }

  .footer {
    background: linear-gradient(90deg, rgba(255, 0, 132, 0.8) 0%, rgba(102, 51, 255, 0.8) 100%);
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%; /* Ширина футера на всю сторінку */
    font-size: 19px;
    font-weight: bold;
    color: #fafaff;
    padding: 10px 0;
  }

  .footer a {
    color: #fafaff; /* Колір тексту посилань */
  }

  .footer a:hover {
    text-decoration: underline; /* Додаємо підкреслення при наведенні */
  }
</style>
