<body>
  <div class="main-content">
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
               dpiuro repository
              <br>
              <a target="_blank" href="https://github.com/dpiuro/play-find" class="text-white">Play&Find</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <style>
    html, body {
      height: 100%; /* Забезпечує висоту на весь екран */
      margin: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Забезпечує мінімальну висоту body на весь екран */
      background-color: #E6E6FA;


    .main-content {
      flex: 1; /* Забезпечує, що основний контент займає весь доступний простір */
    }

    .footer {
      background: linear-gradient(90deg, rgba(255, 0, 132, 0.8) 0%, rgba(102, 51, 255, 0.8) 100%);
      text-align: center;
      width: 100%;
      font-size: 19px;
      font-weight: bold;
      color: #fafaff;
      padding: 10px 0;
    }

    .footer a {
      color: #fafaff;
    }

    .footer a:hover {
      text-decoration: underline;
    }
  </style>
</body>
