{% extends 'layouts/base_presentation.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Field List</h1>
    <a href="{% url 'field-create' %}" class="btn btn-primary mt-4">Create new Field</a>

    {% if fields %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for field in fields %}
        <tr>
          <td><a href="{% url 'field-detail' field.pk %}">{{ field.name }}</a></td>
          <td>{{ field.location }}</td>
          <td>
            <!-- Кнопки дій -->
            <a href="{% url 'field-update' field.pk %}" class="btn btn-group-lg ">Edit</a>
            <a href="{% url 'field-delete' field.pk %}" class="btn btn btn-primary">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Додаємо підключення файла пагінації -->
    <div class="d-flex justify-content-center mt-4">
      {% include 'includes/pagination.html' %}
    </div>

    {% else %}
    <p>No fields available.</p>
    {% endif %}

</div>
{% endblock %}
