{% extends 'base.html' %}

{% block content %}
<h1>Field List</h1>
<ul>
    {% for field in fields %}
    <li>
        <a href="{% url 'field-detail' field.pk %}">{{ field.name }} – {{ field.location }}</a>
        <a href="{% url 'field-update' field.pk %}">Edit</a> |
        <a href="{% url 'field-delete' field.pk %}">Delete</a>
    </li>
    {% empty %}
    <li>No fields available.</li>
    {% endfor %}
</ul>
<a href="{% url 'field-create' %}">Create new Field</a>
{% endblock %}
