<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Play Find{% endblock %}</title>
</head>
<body>
    <a href="{% url 'signup' %}">Sign Up</a>
    <div class="container">
        {% include 'includes/sidebar.html' %}

        <div class="content">
            <form action="{% url 'training-search' %}" method="get">
                <input type="text" name="q" placeholder="Search by sport...">
                <button type="submit">Search</button>
            </form>

            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
