{% extends 'layouts/base_presentation.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">
      Training List
      <a href="{% url 'training-create' %}" class="btn btn-primary" link-to-page">
        Create New Training
      </a>
    </h1>

    {% if trainings %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sport</th>
          <th>Field</th>
          <th>Date & Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for training in trainings %}
        <tr>
          <!-- Додаємо посилання на сторінку деталей тренування -->
          <td>
            <a href="{% url 'training-detail' training.pk %}">{{ training.sport.name }}</a>
          </td>
          <td>{{ training.field.name }}</td>
          <td>{{ training.datetime }}</td>
          <td>
            <a href="{% url 'training-update' training.pk %}" class="btn btn-group-lg ">Edit</a>
            <a href="{% url 'training-delete' training.pk %}" class="btn btn btn-primary">Delete</a>

            <form method="post" action="{% url 'training-subscribe' training.pk %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary btn-sm">
                {% if user in training.participants.all %}
                  Unsubscribe
                {% else %}
                  Subscribe
                {% endif %}
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <!-- Додаємо підключення файла пагінації -->
    <div class="d-flex justify-content-center mt-4">
      {% include 'includes/pagination.html' %}
    </div>

    {% else %}
      <p>No trainings available.</p>
    {% endif %}
</div>
{% endblock %}
