{% extends 'base.html' %}

{% block content %}
<h1>Trainings List</h1>
<ul>
    {% for training in trainings %}
    <li>
        {{ training.sport.name }} at {{ training.field.name }} on {{ training.date }} at {{ training.time }}
        <a href="{% url 'training-update' training.pk %}">Edit</a> |
        <a href="{% url 'training-delete' training.pk %}">Delete</a> |
        <a href="{% url 'training-subscribe' training.pk %}">
            {% if user in training.participants.all %}
                Unsubscribe
            {% else %}
                Subscribe
            {% endif %}
        </a>
    </li>
    {% empty %}
    <li>No trainings available.</li>
    {% endfor %}
</ul>
<a href="{% url 'training-create' %}">Create new Training</a>
{% endblock %}
