{% extends 'base.html' %}

{% block content %}
<h1>Sport List</h1>
<ul>
    {% for sport in sports %}
        <li>
            <a href="#" onclick="toggleFields('{{ sport.pk }}'); return false;">{{ sport.name }}</a>
            <ul id="fields-{{ sport.pk }}" style="display: none;">
                {% for field in sport.fields.all %}
                    <li>{{ field.name }} – {{ field.location }}</li>
                {% empty %}
                    <li>No fields support this sport.</li>
                {% endfor %}
            </ul>
            <!-- Кнопка для редагування виду спорту -->
            <a href="{% url 'sport-update' sport.pk %}">Edit</a>
            <!-- Кнопка для видалення виду спорту -->
            <a href="{% url 'sport-delete' sport.pk %}">Delete</a>
        </li>
    {% empty %}
        <li>No sports available.</li>
    {% endfor %}
</ul>

<!-- Кнопка для створення нового виду спорту -->
<a href="{% url 'sport-create' %}" class="btn btn-primary">Create New Sport</a>

<script>
function toggleFields(sportId) {
    var fieldList = document.getElementById("fields-" + sportId);
    if (fieldList.style.display === "none") {
        fieldList.style.display = "block";
    } else {
        fieldList.style.display = "none";
    }
}
</script>
{% endblock %}
